body {
	font-size: 16px;
	margin-bottom: 50px;
}

h1 {
	color: #333333;
	font-family: 'Bitter', serif;
	font-size: 50px;
	font-weight: 400;
	line-height: 54px;
	margin: 0 0 54px;
}

h2 {
	color: #333333;
	font-family: 'Bitter', serif;
	font-size: 34px;
	font-weight: 400;
	line-height: 44px;
}

h3 {
	color: #333333;
	font-family: 'Bitter', serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
}

.readable {
	color: #333333;
	font-family: Georgia, serif;
	font-size: 18px;
	line-height: 28px;
	margin: 0 0 28px;
}

.readable dd {
	margin-bottom: 28px;
}

dt,
label.control-label,
th {
	font-family: 'Bitter', serif;
	font-weight: 700;
}

td.sized {
	width: 125px;
}

.btn, .form-control, .panel, .modal-content {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0 !important;
}

.form-group-lg textarea.form-control { height: auto; }

.splash .page-header { border: none; }

.page-header { color: #CCC; }

.page-header h1,
.page-header h3 {
	margin: 0;
	color: #CCC;
}

.page-header h3 { margin-top: 20px; }

.durandal-wrapper > h2,
.form-group > h2 { margin-top: 0; }

.btn-toolbar {
	margin: 10px 0;
	padding: 10px 0;
}

.btn-toolbar-controls { border-top: 1px solid #EEE; }

.btn-toolbar > .btn.pull-right,
.btn-toolbar > .btn.pull-left { margin-left: 0; }