<div data-bind="with: activity">
	<p class="readable hidden-print">
		Onderstaand staat de gehele beschrijving van jouw activiteit. Lees deze nog een keer goed door alvorens je verder gaat. Wil je iets wijzigen? Navigeer dan terug met de VORIGE knop.
	</p>
	<hr/>
	<h3>Titel van de activiteit:</h3>
	<p class="readable" data-bind="text: Title"></p>
	<h3>Korte samenvatting van de activiteit:</h3>
	<p class="readable text-justify" data-bind="text: Summary"></p>
	<h3>Hoe kwam u ertoe deze activiteit te verrichten, hoe kwam uw deelname tot stand?</h3>
	<p class="readable text-justify" data-bind="text: Initiation"></p>
	<h3>Hoe heeft u het aangepakt, wat deed u precies, wat zei u, wat dacht u?</h3>
	<p class="readable text-justify" data-bind="text: Proceedings"></p>
	<h3>Wat maakte deze activiteit plezierig voor u? Wat precies gaf u een gevoel van tevredenheid?</h3>
	<p class="readable text-justify" data-bind="text: Satisfaction"></p>
</div>
<div class="btn-toolbar btn-toolbar-controls hidden-print">
	<button class="btn ladda-button btn-default btn-lg pull-left" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: prev">
		VORIGE
	</button>
	<button class="btn ladda-button btn-default btn-lg pull-right" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: complete">
		AFRONDEN
	</button>
</div>
