<form>
	<fieldset data-bind="with: activity">
		<div class="form-group form-group-lg" data-bind="validationElement: Satisfaction">
			<label class="control-label">Wat maakte deze activiteit plezierig voor u? Wat precies gaf u een gevoel van tevredenheid?</label>
			<textarea class="form-control" rows="10" data-bind="value: Satisfaction"></textarea>
		</div>
	</fieldset>
</form>
<div class="btn-toolbar">
	<button class="btn btn-default pull-right" data-bind="click: next">
		Next
	</button>
</div>