<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h3>
			Denk na over concrete activiteiten die je in je leven hebt verricht.
		</h3>
		<p class="readable no-bottom-margin text-justify">
			Kies één activiteit om te beschrijven, deze dient te voldoen aan de volgende criteria:
		</p>
		<ul class="readable text-justify">
			<li>Binnen de activiteiten verrichtte je bepaalde handelingen, bepaald denkwerk, doorliep je een bepaald proces of bereikte je een waarneembaar resultaat waarover je zélf tevreden was.</li>
			<li>Je beleefde plezier aan de activiteiten zélf, dus niet alleen aan het eindresultaat.</li>
			<li>Je had zélf het gevoel dat je goed presteerde.</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<div class="btn-toolbar btn-toolbar-controls hidden-print">
			<button class="btn btn-default btn-lg pull-right" data-bind="click: next">
				VOLGENDE
			</button>
		</div>
	</div>
</div>