<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h3>
			Beschrijf jouw activiteiten specifiek en niet algemeen.
		</h3>
		<p class="readable no-bottom-margin text-justify">
			Bijvoorbeeld:
		</p>
		<ul class="readable text-justify">
			<li><b>Niet:</b> Ik klus graag in huis. </li>
			<li><b>Wel:</b> Ik verbouwde zelf onze badkamer.</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<div class="btn-toolbar btn-toolbar-controls hidden-print">
			<button class="btn btn-default btn-lg pull-left" data-bind="click: prev">
				VORIGE
			</button>
			<button class="btn btn-default btn-lg pull-right" data-bind="click: next">
				VOLGENDE
			</button>
		</div>
	</div>
</div>