<div class="container splash">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h1 class="page-header text-center">
				Writer
			</h1>
			<div class="shake animated infinite">
				<img class="center-block img-responsive" src="/writer/Content/images/pen.png" />
			</div>
		</div>
	</div>
</div>