<img class="img-responsive" data-bind="attr :{ 'src': imageRoot + 'demographics.jpg' }" title="Waar gaan we heen?" />
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h1 class="page-header">Demografische gegevens</h1>
			<p></p>
		</div>
	</div>
	<div class="row" data-bind="css : { 'animated fadeIn' : participant }">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<form>
				<fieldset data-bind="with: participant">
					<div class="form-group form-group-lg" data-bind="validationElement: Age">
						<label class="control-label">Wat is je leeftijd?</label>
						<input type="text" class="form-control" data-bind="value: Age" autofocus />
					</div>
					<div class="form-group form-group-lg" data-bind="validationElement: Gender">
						<label class="control-label">Wat is je geslacht?</label>
						<select class="form-control" data-bind="options: $parent.genderOptions, optionsCaption: '[ Maak een keuze ]', value: Gender"></select>
					</div>
					<div class="form-group form-group-lg" data-bind="validationElement: MotherLanguageDutch">
						<label class="control-label">Is Nederlands je moedertaal?</label>
						<select class="form-control" data-bind="options: ['Ja', 'Nee'], optionsCaption: '[ Maak een keuze ]', value: MotherLanguageDutch"></select>
					</div>
					<div class="form-group form-group-lg" data-bind="validationElement: EducationCompleted">
						<label class="control-label">Wat is je hoogst afgeronde opleiding?</label>
						<select class="form-control" data-bind="options: $parent.educationCompletedOptions, optionsCaption: '[ Maak een keuze ]', value: EducationCompleted"></select>
					</div>
					<div class="form-group form-group-lg" data-bind="visible: $parent.EducationCompletedIsDifferent, validationElement: EducationCompletedDifferent">
						<label class="control-label">Namelijk:</label>
						<input class="form-control" data-bind="value: EducationCompletedDifferent" />
					</div>
					<div class="form-group form-group-lg" data-bind="validationElement: SimaExperience">
						<label class="control-label">Heb je ervaring met SIMA?</label>
						<select class="form-control" data-bind="options: ['Ja', 'Nee'], optionsCaption: '[ Maak een keuze ]', value: SimaExperience"></select>
					</div>
					<div class="alert alert-info text-justify">
						Om mee te kunnen doen aan de verloting van de bol.com waardenbonnen dien je een e-mailadres achter te laten. Anders weet ik natuurlijk niet aan wie ik de cadeaubon moet overhandigen. Dit is echter niet verplicht.
					</div>
					<div class="form-group form-group-lg" data-bind="validationElement: Email">
						<label class="control-label">Je e-mailadres:</label>
						<input type="email" class="form-control" data-bind="value: Email" />
					</div>
				</fieldset>
			</form>
			<div class="btn-toolbar btn-toolbar-controls">
				<button class="btn ladda-button btn-default btn-lg pull-right" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: next">
					VOLGENDE
				</button>
			</div>
		</div>
	</div>

</div>