<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<h1 class="page-header">Uw ervaringen</h1>
			<p></p>
		</div>
	</div>
	<div class="row" data-bind="css : { 'animated fadeIn' : participant }">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<form>
				<fieldset data-bind="with: participant">
					<div data-bind="likert: { name: 'InstructionsClear', field: InstructionClear }"></div>
					<div data-bind="likert: { name: 'InstructionEffective', field: InstructionEffective }"></div>
					<div data-bind="if: ActivityType() === 'Enhanced'">
						<div data-bind="likert: { name: 'FeedbackClear', field: FeedbackClear }"></div>
						<div data-bind="likert: { name: 'FeedbackEffective', field: FeedbackEffective }"></div>
					</div>
					<div data-bind="likert: { name: 'GoodActivity', field: GoodActivity }"></div>
				</fieldset>
			</form>
			<div class="btn-toolbar">
				<button class="btn btn-default btn-lg pull-right" data-bind="click: complete">
					Volgende
				</button>
			</div>
		</div>
	</div>

</div>