<img class="img-responsive" data-bind="attr :{ 'src': imageRoot + 'experience.jpg' }" title="Waar gaan we heen?" />
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h1 class="page-header">Jouw ervaringen</h1>
			<p></p>
		</div>
	</div>
	<div class="row" data-bind="css : { 'animated fadeIn' : participant }">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<form>
				<fieldset data-bind="with: participant">
					<div data-bind="likert: { name: 'InstructionsClear', field: InstructionClear, question: 'De instructies waren duidelijk.' }"></div>
					<div data-bind="likert: { name: 'InstructionEffective', field: InstructionEffective, question: 'De instructies hebben mij goed geholpen.' }"></div>
					<div data-bind="if: ActivityType() === 'Enhanced'">
						<div data-bind="likert: { name: 'FeedbackClear', field: FeedbackClear, question: 'De feedback was duidelijk.' }"></div>
						<div data-bind="likert: { name: 'FeedbackEffective', field: FeedbackEffective, question: 'De feedback heeft mij goed geholpen' }"></div>
					</div>
					<div data-bind="likert: { name: 'GoodActivity', field: GoodActivity, question: 'Ik heb de activiteit goed beschreven.'}"></div>
					<div class="form-group form-group-lg">
						<label class="control-label">Heb je nog opmerkingen of wil je nog iets kwijt:</label>
						<textarea class="form-control" rows="5" data-bind="value: Remarks"></textarea>
					</div>
				</fieldset>
			</form>
			<div class="btn-toolbar btn-toolbar-controls">
				<button class="btn ladda-button btn-default btn-lg pull-right" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: complete">
					OPSLAAN
				</button>
			</div>
		</div>
	</div>
</div>