<img class="img-responsive" data-bind="attr :{ 'src': imageRoot + 'thanks.jpg' }" title="Waar gaan we heen?"/>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h1 class="page-header">Bedankt voor je deelname</h1>
			<p class="readable text-justify">
				Wil je nog op de hoogte gehouden worden van de resultaten van mijn scriptie? Laat het mij dan weten door een mailtje te sturen naar <a href="mailto:wever@hotitem.nl?Subject=Ik wil graag je scriptie ontvangen	">wever@hotitem.nl</a>.
			</p>
			<p class="readable">
				Je kan dit scherm nu afsluiten. 
			</p>
		</div>
	</div>
</div>