<img class="img-responsive" data-bind="attr :{ 'src': imageRoot + 'welcome.jpg' }" title="Waar gaan we heen?"/>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h1 class="page-header">Welkom</h1>
			<p class="readable text-justify">
				Morbi ac ipsum at augue commodo sollicitudin ut et metus. Vivamus non mauris nisi. Sed commodo purus ut nisi imperdiet, vitae elementum sem sodales. Aliquam sem neque, accumsan sit amet dui eget, accumsan maximus leo. Nunc elementum et risus et pretium. Donec aliquet odio sed rhoncus facilisis. Nulla dolor ante, feugiat sit amet magna id, rutrum aliquam erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis dolor ligula, fringilla nec purus nec, semper gravida augue. Pellentesque faucibus hendrerit augue, nec ullamcorper augue volutpat in.	
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<a class="btn btn-default btn-lg" href="#/demographics">
				Start het expiriment
			</a>
		</div>
	</div>
</div>