<img class="img-responsive" data-bind="attr :{ 'src': imageRoot + 'welcome.jpg' }" title="Waar gaan we heen?"/>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h1 class="page-header">Welkom</h1>
			<p class="readable text-justify">
				<!-- TODO: --> 	- Wat is dit?
				- Wat kan men verwachten?
			</p>
			<dl class="readable">
				<dt>1. Demografische gegevens</dt>
				<dd>Explain</dd>
				<dt>2. Activiteit beschrijven</dt>
				<dd>Explain</dd>
				<dt>3. Korte vragenlijst</dt>
				<dd>Explain</dd>
			</dl>
			<p class="readable">
				- Bedanken
				Jeroen
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<a class="btn btn-default btn-lg" href="#/demographics">
				Start het expiriment
			</a>
		</div>
	</div>
</div>