<img class="img-responsive" data-bind="attr :{ 'src': imageRoot + 'welcome.jpg' }" title="Waar gaan we heen?"/>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h1 class="page-header">SIMA Writer voor activiteiten</h1>
			<p class="readable text-justify">
				Allereerst, bedankt dat je tijd hebt willen vrijmaken om deel te nemen aan dit experiment dat onderdeel is van mijn masterscriptie. Het experiment zal in drie stappen worden doorlopen en duurt ongeveer 30 minuten.
			</p> 
			<dl class="readable text-justify">
				<dt>1. Demografische gegevens</dt>
				<dd>In het eerste deel worden een aantal demografische gegevens uitgevraagd. Met deze gegevens kan ik (mogelijke) opvallendheden in de verzamelde activiteiten verklaren.</dd>
				<dt>2. Activiteit beschrijven</dt>
				<dd>In het tweede deel wordt je stapsgewijs gevraagd om een activiteit, waarin je veel success en plezier ervaarde, te beschrijven. Alvorens je hiermee begint zullen er instructies worden gegeven.</dd>
				<dt>3. Korte vragenlijst</dt>
				<dd>In het derde en laatste deel worden een aantal vragen gesteld die gaan over hoe je het gebruik van de tool hebt ervaren. </dd>
			</dl>
			<p class="readable text-justify">
				Alle gegevens die je tijdens het experiment invuld zullen in vertrouwen worden behandeld. Naast mij worden deze gegevens alleen gedeeld met mijn scriptiebegeleiders van de universiteit en één van de drie SIMA-coaches die de activiteiten zullen beoordelen op kwaliteit. Zij krijgen alleen de beschreven activiteit in te zien en niet de demografische gegevens. 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<a class="btn btn-default btn-lg btn-block" href="#/demographics">
				START HIER
			</a>
		</div>
	</div>
</div>