<form>
	<fieldset data-bind="with: activity">
		<div class="form-group form-group-lg" data-bind="validationElement: Persons">
			<h2 class="control-label">Bedenk een activiteit! Heb je al iets?</h2>
			<p class="readable">
				<!-- TODO: --> Uitleggen wat een activiteit is! Actief gedrag!
			</p>
			<div class="btn-group btn-group-justified" data-toggle="buttons">
				<label class="btn ladda-button btn-info btn-lg">
					<input type="radio" name="person" value="1" data-bind="radioButtonGroupChecked: HasActivity"> Ja
				</label>
				<label class="btn ladda-button btn-info btn-lg">
					<input type="radio" name="person" value="2" data-bind="radioButtonGroupChecked: HasActivity"> Nee, help mij!
				</label>
			</div>
			<input type="hidden" data-bind="value: HasActivity">
		</div>
	</fieldset>
</form>
<div class="btn-toolbar btn-toolbar-controls">
	<button class="btn ladda-button btn-default btn-lg pull-right" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: next">
		Volgende
	</button>
</div>