<h2 class="control-label">Bedenk een activiteit waarin je veel success en plezier ervaarde.</h2>
<p class="readable text-justify">
	Onderstaand een aantal vragen die je kunnen helpen bij het bedenken van een activiteit waarin je veel succes en plezier ervaarde. Probeer (enkele van) deze voor jezelf te beantwoorden.
</p>
<h3>Wat zijn je hobby's?</h3>
<h3>Welke sport doe je of heb je gedaan?</h3>
<h3>Waar woonde je vroeger?</h3>
<h3>Waar zat je vroeger op school?</h3>
<h3>Wat deed je vroeger toen je uit school thuis kwam?</h3>
<h3>Wat doe je tegenwoordig als je thuis komt?</h3>
<h3>Wie waren je vriend(innet)jes vroeger?</h3>
<h3>Wat deed je met je vriend(innet)jes van vroeger?</h3>
<h3>Wat zeggen familie/vrienden over wat jij leuk vindt om te doen?</h3>
<h3>Zijn er projecten in je werk waar je met plezier naar terugkijkt?</h3>
<div class="btn-toolbar btn-toolbar-controls">
	<button class="btn ladda-button btn-default btn-lg pull-left" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: prev">
		VORIGE
	</button>
	<button class="btn ladda-button btn-default btn-lg pull-right" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: next">
		VOLGENDE
	</button>
</div>