<h2>Bedenk een activiteit! Heb je al iets?</h2>
<p class="readable">
	Een activiteit is: Aenean vitae ipsum nec eros hendrerit gravida et pulvinar turpis. Nullam suscipit lacinia libero, sed vulputate lorem vulputate id. Praesent in elit convallis, finibus dolor at, tempor metus. Suspendisse potenti. Nullam luctus, erat id volutpat fermentum, purus ante viverra ligula, a consectetur sapien odio congue lectus. Mauris ut volutpat augue, sed mattis tellus. Cras egestas quis nisl eget porta.
</p>
<div class="btn-toolbar">
	<button class="btn ladda-button btn-default btn-lg" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: next">
		Ja
	</button>
	<button class="btn ladda-button btn-default btn-lg" data-style="zoom-out" data-spinner-color="#999999">
		Nee, help mij
	</button>
</div>