<h2>Denk aan wat je vroeger deed toen je uit school kwam!</h2>
<h2>Wat deed je vroeger met je vriendjes van toen?</h2>
<h2>Bel eens met je familie, wat zeggen zij over wat jij leuk vond?</h2>
<div class="btn-toolbar btn-toolbar-controls">
	<button class="btn ladda-button btn-default btn-lg pull-left" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: prev">
		VORIGE
	</button>
	<button class="btn ladda-button btn-default btn-lg pull-right" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: next">
		VOLGENDE
	</button>
</div>