<img class="img-responsive" data-bind="attr :{ 'src': imageRoot + 'activity.jpg' }" title="Instructies" />
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h1 class="page-header">Instructies</h1>
			<p class="readable no-bottom-margin text-justify">
				Je gaat straks een activiteit beschrijven. Neem tijdens het schrijven de onderstaande zaken in acht:
			</p>
			<ol class="readable text-justify">
				<li>Beschrijf één enkele activiteit.</li>
				<li>Beschrijf de gehele activiteit vanuit de eerste persoon (ik-vorm)</li>
				<li>Beschrijf de activiteit specifiek</li>
				<li>Beschrijf alles vanuit een positieve insteek. Dingen die niet goed gingen, of waar je geen goed gevoel bij hebt kun je weglaten.</li>
				<li>Probeer tijdens het schrijven niet over je eigen gedrag te analyseren. Schrijf feitelijk op wat er tijdens de activiteit gebeurde.</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<a class="btn btn-default btn-lg pull-right" href="#/activiteit">
				VOLGENDE
			</a>
		</div>
	</div>
</div>