<form>
	<fieldset data-bind="with: activity">
		<div class="form-group form-group-lg" data-bind="validationElement: InvolvedPersons">
			<h2 class="control-label">Wie waren dat?</h2>
			<div data-bind="persons: { involved: InvolvedPersons() || [] }"></div>
			<input type="hidden" data-bind="value: InvolvedPersons">
		</div>
	</fieldset>
</form>
<div class="btn-toolbar">
	<button class="btn ladda-button btn-default btn-lg pull-left" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: prev">
		Vorige
	</button>
	<button class="btn ladda-button btn-default btn-lg pull-right" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: next">
		Volgende
	</button>
</div>