<form>
	<fieldset data-bind="with: activity">
		<div class="form-group form-group-lg">
			<h2 class="control-label">Wie waren dat?</h2>
			<div class="btn-toolbar">
				<button class="btn btn-success pull-left" data-bind="click: $parent.addPerson">
					<span class="glyphicon glyphicon-plus"></span> Voeg een persoon toe
				</button>
			</div>
			<div class="row" data-bind="foreach: InvolvedPersons">
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading" data-bind="validationElement: Name">
							<label class="control-label">Naam:</label>
							<input class="form-control" data-bind="value: Name" />
						</div>
						<div class="panel-body" data-bind="validationElement: Role">
							<label class="control-label">Wat was zijn rol ten opzichte van jou:</label>
							<textarea rows="5" class="form-control" data-bind="value: Role"></textarea>
						</div>
						<div class="panel-footer">
							<button class="btn btn-danger btn-block" data-bind="click: $root.removePerson">
								<span class="glyphicon glyphicon-trash"></span> Verwijder
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</form>
<div class="btn-toolbar btn-toolbar-controls">
	<button class="btn ladda-button btn-default btn-lg pull-left" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: prev">
		Vorige
	</button>
	<button class="btn ladda-button btn-default btn-lg pull-right" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: next">
		Volgende
	</button>
</div>