<div data-bind="with: activity">
	<h3>Titel van de activiteit:</h3>
	<p class="readable" data-bind="text: Title"></p>
	<h3>Situatie</h3>
	<p class="readable text-justify" data-bind="text: Situation"></p>
	<h3>Personen</h3>
	<p class="readable text-justify" data-bind="text: Persons"></p>
	<h3>Start</h3>
	<p class="readable text-justify" data-bind="text: Initiation"></p>
	<h3>Handelingen</h3>
	<p class="readable text-justify" data-bind="text: Proceedings"></p>
	<h3>Voldoening</h3>
	<p class="readable text-justify" data-bind="text: Satisfaction"></p>
</div>
<div class="btn-toolbar hidden-print">
	<button class="btn ladda-button btn-default btn-lg pull-left" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: prev">
		Vorige
	</button>
	<button class="btn ladda-button btn-default btn-lg pull-right" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: complete">
		Volgende
	</button>
</div>
