<form>
	<fieldset data-bind="with: activity">
		<div class="form-group form-group-lg" data-bind="validationElement: Proceedings">
			<h2 class="control-label">Handelingen</h2>
			<textarea class="form-control" rows="10" data-bind="value: Proceedings"></textarea>
		</div>
	</fieldset>
</form>
<div class="btn-toolbar btn-toolbar-controls">
	<button class="btn ladda-button btn-default btn-lg pull-left" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: prev">
		Vorige
	</button>
	<button class="btn ladda-button btn-default btn-lg pull-right" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: next">
		Volgende
	</button>
</div>