<form>
	<fieldset data-bind="with: activity">
		<div class="form-group form-group-lg" data-bind="validationElement: Satisfaction">
			<h2 class="control-label">Plezier en voldoening</h2>
			<p class="readable">
				Beschijf zo specifiek en gedetailleerd mogelijk wat deze activiteit plezierig voor je maakte? Wat precies gaf je een gevoel van tevredenheid?
			</p>
			<textarea class="form-control" rows="10" data-bind="value: Satisfaction" autofocus></textarea>
		</div>
	</fieldset>
</form>
<div class="btn-toolbar btn-toolbar-controls">
	<button class="btn ladda-button btn-default btn-lg pull-left" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: prev">
		VORIGE
	</button>
	<button class="btn ladda-button btn-default btn-lg pull-right" data-style="zoom-out" data-spinner-color="#999999" data-bind="click: next">
		VOLGENDE
	</button>
</div>