<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h1 class="page-header text-center">Enhanced</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div data-bind="compose: { view: activeView, transition: 'fadeUp' }"></div>
		</div>
		<div class="col-xs-1">
			<div class="indicators" data-bind="foreach: views">
				<div data-bind="attr: { 'title' : $data } , click: $parent.activateView.bind($data), css:{ 'active': $data === $parent.activeView() }" class="indicator"></div>
			</div>
		</div>
	</div>
</div>